<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jeffhatfieldapps.resumeapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/fossil_photo_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fossil_photo_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:taskAffinity="com.fossil.wearables.myfaces.mk" />
    </application>

</manifest>